.registrationForm {
    position: relative;
    padding: 16px 0px;
    border: 2px solid black;
    display: flex;
    margin: auto auto;
}

@media only screen and (max-width: 600px) {
    .registrationForm {
        flex-direction: column;
        margin: 16px;
    }
}
